@tailwind base;
@tailwind components;
@tailwind utilities;

.tag-container::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2rem;
    background: linear-gradient(to top, var(--tw-bg-opacity) 0%, transparent 100%);
    pointer-events: none;
}